.page-schema-generator,
.page-schema-render {
  .page {
    height: calc(100vh - 58px);
    padding: 0;
  }
  .content__default {
    max-width: 1920px;
    padding: 0;
    height 100%
  }
  .page-edit {
    display: none;
  }
}